<br/>
<br/>
<br/>
<br/>
<h1>Find Friends</h1>
<div id="search" class="input-group input-group-lg">
  <%= form_tag friends_path, :method => :get do %>
      <%= auto_complete_field_tag_jquery(:search, params[:search], {:placeholder => "Enter Search Here"}) %>
      <button id='submit_search', style="font-size: 12px;">Search</button>
  <% end %>
</div>

<table class = "table">
  <thead>
  <tr>
    <th>Picture</th>
    <th>Name</th>
    <th>Profile</th>
    <th>Standing</th>
  </tr>
  </thead>
  <tbody>
  <% @users = User.all %>
  <% @users.each do |user| %>
      <tr>
        <% if user.photo_file_name? %>
            <td class="round-image-10"><%= image_tag(user.photo.url(:thumb)) %></td>
        <% else if user.image? %>
                <td class="round-image-10"><%= image_tag(user.image+"?type=normal")%></td>
            <%else%>
                <td><p class="round-image-10"><%= image_tag("missing.png") %></p></td>
            <% end %>
        <% end %>
        <% if user.name? %>
            <td><%=h user.name %></td>
        <% else %>
            <td><%=h user.first_name %> <%=h user.last_name %></td></td>
        <% end %>
        <td><%= button_to 'View Profile', users_url %></td>
        <td><%= button_to "Add Friend", friends_path(:gamer_id => user), :method => :post %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
