<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_game.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @user_game.rating %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @user_game.release_date %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @user_game.publisher %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @user_game.platform %>
</p>

<%= link_to 'Back', user_games_path %>
