<%= form_for @gamer, :html => { :class => "form-horizontal gamer" } do |f| %>

    <% if @gamer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@gamer.errors.count, "error") %> prohibited this gamer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @gamer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@gamer[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :gamer_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gamer_id, :class => 'form-control' %>
    </div>
    <%= error_span(@gamer[:gamer_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :phonenumber, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phonenumber, :class => 'form-control' %>
    </div>
    <%= error_span(@gamer[:phonenumber]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@gamer[:email]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            gamers_path, :class => 'btn btn-default' %>

<% end %>
