<% if user_signed_in? %>
    <% if current_user.name? %>
    <p>Welcome <%= current_user.name %></p>
        <%= image_tag(current_user.image+"?type=normal")%>
        <% else %>
        <p>Welcome <%= current_user.first_name %></p>
        <% if current_user.photo_file_name? %>
        <p class="round-image-50"><%= image_tag(current_user.photo.url(:thumb)) %></p>
            <%else%>
            <p class="round-image-50"><%= image_tag("missing.png") %></p>
            <% end %>
        <% end %>
    <p> <%= link_to 'Game List', user_games_path %> </p>
    <p> <%= link_to 'Friends', user_friends_path %> </p>
    <p> <%= link_to 'Update Location', update_location_current_path %> </p>

<% end %> </p>