<p id="notice"><%= notice %></p>

<h1>Listing User Friends</h1>

<table>
  <thead>
    <tr>
      <th>Gamer ID</th>
      <th>Name</th>
      <th>Player Rank</th>
      <th>Platform</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_friends.each do |user_friend| %>
      <tr>
        <td><%= user_friend.gamer_id %></td>
        <td><%= user_friend.name %></td>
        <td><%= user_friend.player_rank %></td>
        <td><%= user_friend.platform %></td>
        <td><%= link_to 'Show', user_friend %></td>
        <td><%= link_to 'Edit', edit_user_friend_path(user_friend) %></td>
        <td><%= link_to 'Destroy', user_friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new', :default => t("helpers.links.find_new_friends")),
            friends_path,
            :class => 'btn btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.home")),
            user_friends_path, :class => 'btn btn-default' %>
